{{title}}

<div class="container">

<form action="/registro" method="POST">

<input type="text" name="usuario" placeholder="Ingrese Usuario">

<input type="password" name="password" placeholder="Password">

<button type="submit">registrate</button>


{{mensaje}}


</form>

</div>