<div class="container">

    <div class="row">


        <div class="col-12">


            <h1 class="text-center"> {{title}} </h1>
            <h1 class="text-center"> {{login}} </h1>

            <div class="row">

                <div class="col-12">

                    <form action ="/login/usuario"  method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email User</label>
                            <input type="text" name="usuario"  class="form-control" id="usuario" aria-describedby=""
                                placeholder="Enter user">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password"  name="password" class="form-control" id="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Ingresar</button>
                    </form>
                </div>

            </div>

        </div>

    </div>

</div>